@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,500;0,600;1,500;1,600&family=Dosis:wght@400;700&display=swap');

*{
    margin: 35px 15px;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500 600;
    font-size: 13px;
    text-decoration: none;
}

:root{
    --color-ModerateViolet:hsl(263, 55%, 52%);
    --color-veryDarkgrayBlue: hsl(217, 19%, 35%);
    --color-veryDark-blackishBlue: hsl(219, 29%, 14%);
    --color-White: hsl(0, 0%, 100%);
    --text-lightGray: hsl(0, 0%, 81%);
    --text-lightGrayish-blue: hsl(210, 46%, 95%);
}
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%);
 }

 .paragraph{
    font-weight: 600;
 }
 img{
    margin-right: 1rem;
    float:left;
    width: 32px;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 0 0 0 3px var(--color-ModerateViolet);
 }
 /* .testimonial{

 } */
 .Daniel{
    background: var(--color-ModerateViolet) url(/images/bg-pattern-quotation.svg);
    background-size:inherit;
    background-position: right top;

 }